body {
  background-color: #6b6f56;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.opener{
  background-image: url(images/flowers2.jpg);
  background-position: center center;
  background-size: cover;
  height: 700px;
  width: 100%;
}

#openertext {
  margin: 0 auto;
  position: relative;
  /*background-color: rgba(0, 0, 0, 50%);*/
  text-align: center;
  top: 30%;
  width: 60%;
}

h1 {
  color: #d9dfeb;
  font-family: 'Pacifico', sans-serif;
  font-size: 150px;
  font-weight: 600;
  line-height: 150px;
  margin: 0;
}

.About {
  background-color:#d9dfeb;
  margin: 0;
  width: 100%;
} 

#abouttext {
  margin: 0 auto
  position: relative;
  text-align: center;
  top: 100%;

}

h2 {
  color: #6b6f56;
  font-family: Lato;
  font-weight: 400;
  font-size: 100px;
  line-height: 200px;
}

p {
  color: #6b6f56;
  font-family: Lato;
  font-weight: 100;
  font-size: 50px;
  line-height: 75px;
  margin: 25px;
  padding-bottom: 25px;
}


.Contact {
    background-color: #d9dfeb;
    margin: 0;
    width: 100%;
}

#contacttext h2 {
    background-color: #6b6f56;
    color: #d9dfeb;
    text-align: center;
    line-height: 50px;
}