body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

.opener{
  background-image: url(images/flowers1.jpg);
  background-position: center center;
  background-size: cover;
  height: 700px;
  width: 100%;
}

#openertext {
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 25%;
  width: 60%;
}

h1 {
  color: #FFF;
  font-family: 'Barrio', sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
}

