.opener {
  background-image: url(images/tree.jpg);
  bakcground-position: center;
  background-size: cover;
  height: 800px;
  width: 100%;
}

#openertext {
  margin: 0 auto;
  postion: relative;
  font-family: Barrio, serif;
  text-align: center;
  top: 25%;
  width: 60%;
}
  
